* {
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans SC', sans-serif;
}

body {
  background: linear-gradient(to left, transparent -10%, black 110%), url('https://st3.depositphotos.com/9966530/12826/i/950/depositphotos_128265362-stock-photo-natural-recycled-paper-texture-newspaper.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: auto;
}
.cover {
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(0,0,0,.4);
  position: absolute;
  top: 0;
  z-index: 0  ;
}

header {
  width: 100%;
  background: rgba(247, 90, 0,.5);
  position: fixed;
  border-radius: 35px 0% 0 43px;
  left: 94.5%;
  z-index: 2;
  transition:left 1s;
}
header:hover{
  left: 0;
}

.logo {
  width: 5%;
  height: auto;
  border: white 2.5px solid;
  border-radius: 50% 10% 50% 50%;
}

button {
  float: right;
  width: 10%;
  height: auto;
  font-size: 20px;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0.9);
  margin-top: 2.3%;
  margin-right: 2.3%;
  background: #4A99D6;
  color: white;
}

button:hover{
  font-size: 23px;
  background: #306c9b;
}
.signup-button:active{
  box-shadow: none;

}

.full-container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  overflow: scroll;
  position: fixed;

}

.main-container {
  background: url('https://c.pxhere.com/photos/71/ce/desk_pencil_draw_table_education_school_wooden_chalks-652304.jpg!d');
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
  width: 100vw;
  height: 800px;
}

.headline {
  padding-top: 10%;
  padding-left:;
  width: 100%;
  text-align: center;
}

.headline h2 {
  font-size: 50px;
  margin-bottom: 5px
}

.headline p {
  font-size: 20px;
}

#section2 {
  width: 30%;
  height: 650px;
  /* float: right; */
  margin-top: 15px;
  padding-top: 85px;
}

#popup {
  width: 100%;
  height: 800px;
  background: rgba(0, 0, 0, .85);
  position: absolute;
  z-index: 2;
}

.popup-content {
  width: 300px;
  height: 500px;
  background: url('https://raw.githubusercontent.com/snwh/paper-icon-theme/master/Paper/512x512/apps/accessories-clipboard.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 150%;
  margin: 0 auto;
}

.form {
  width: 75%;
  padding-left: 11.5%;
  padding-top: 50%;
}

input {
  margin-bottom: 10px;
  font-size: 20px;
}

.form h3 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px
}

.hide {
  display: none;
}

.new {
  width: 100%;
  height: 190px;
  margin-bottom: 11px;
  /* border: black 1px solid; */
  overflow: scroll;
  background: rgba(220, 222, 226, .6);
}

.new:hover {
  background: rgba(220, 222, 226, 2.2);
  width:105%;
}

footer {
  width: 100%;
  height: 50px;
  text-align: center;
  background: rgba(247, 90, 0,.5);
  position: fixed;
  bottom: 0;
}

i {
  margin-top: 1%;
  font-size: 30px;
  margin-right: 20px;
  color: rgba(74, 153, 214,.7);
}

i:hover {
  color: dimgray;
  font-size: 35px;
}
div.typewriter{
  margin: 0 auto;
  text-align: center;
  width: 29%;
  height: auto;
  overflow-y: visible;
  padding: 0;
}
.typewriter h1 {
  font-size: 50px;
  color: #F75A00;
  text-shadow: 1px 1px 3px rgba(200,200,200,.5);
  overflow: hidden;
  border-right: 3px solid #4A99D6;
  white-space: nowrap;
  margin: 0 auto;
  margin-bottom:60px;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .50s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #4A99D6; }
}

.new img {
  float: left;
  width: 46%;
  height: auto;
}

.product {
  width: 52%;
  float: right;
}

.product h3 {
  margin-bottom: 5px;
}

.product p {
  margin-bottom: 5px;
}

.product h4 {
  margin-bottom: 5px;
}

#myVideo {
  position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.pagetest{
  width: 100%;
  height: 1000px;
}
a {
  text-decoration: none;
  color: white;
}
